tab-link:hover {
    background-color: #EDEDED;
}


ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
    }

        ul.tabs li.current {
            border-bottom: 5px solid #007bff;
            color: #007bff;
            border-radius: 3px;
        }

.tab-content {
    display: none;

    padding: 10px;
}

    .tab-content.current {
        display: block;
    }
/**/