@model QuanLySanXuat.Entities.Account;
@{
    Layout = "_LayoutIdentity";
}


<h1 class="mb-3 text-center">Khôi Phục Mật Khẩu</h1>
<p><span class="text-success">@TempData["SuccessMessage"]</span></p>
<form asp-action="GetPassword" asp-controller="Login" method="post">



    <div>
        <label asp-for="Email" class="control-label">Tài khoản muốn khôi phục (Email)</label>

        <div class="form-group">
            <input type="text" class="form-control " placeholder="Email" asp-for="Email">

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-3">
        <input type="submit" class="btn btn-primary w-100" value="Reset Password" />

    </div>

    <div class="text-center">


        @Html.ActionLink("Login", "Login", "Login", null, new { @class = "" })
    </div>
    @*@if (ViewData["errorMessage"] != null)
        {
            <br />
            <label class="text-danger">@ViewData["errorMessage"]</label>
        }*@
    <script>
        window.addEventListener('beforeunload', function () {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf('HienCaCookie=') === 0) {
                    document.cookie = "hienca=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    break;
                }
            }
        });

    </script>
</form>

